@import "helper/helper.scss";

#flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 8px;

  .item {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0.4rem;
    flex-shrink: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;

    .cross-btn {
      display: none;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: scale-down;
    }

    h5 {
      font-weight: 500;
    }

    h2 {
      font-weight: 700;
      margin-block: 10px;

      &::before {
        content: "₹";
      }
    }

    .btn-cart {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      border: none;
      color: white;
      background-color: var(--flippy-blue);
    }
  }
}

#greetings {
  margin-block: 20px;

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    text-transform: capitalize;
    color: var(--flippy-blue);
  }
}

#carousel {
  position: relative;
  margin-top: 20px;
  padding: 15px;

  #img-carousel {
    width: 100%;
    position: relative;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;

    img {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;

      &:nth-child(1) {
        z-index: 10;
      }
    }
  }

  .carousel-button {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    background-color: #edede9;
    width: 40px;
    opacity: 0.5;
    translate: 0% -50%;
    z-index: 999;
    top: 50%;
    height: 40px;

    &:nth-of-type(1) {
      left: 15px;
    }

    &:nth-of-type(2) {
      right: 15px;
    }
  }

  #slideStatus {
    position: absolute;
    z-index: 999;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    .slider {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 5px;
      background: #edede9;
      opacity: 0.5;

    }
  }


  .active {
    background: var(--flippy-blue);
  }
}

input[type="search"] {
  display: inline-block;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
  order: 1;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
  margin-inline: 20px;

  #title {
    margin: 0;
  }

  #sortby {
    margin-left: auto;
    font-size: 20px;
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 1px solid gray;

    &:focus {
      border: 1px solid gray;
    }
  }
}


// 768px
@media screen and (min-width:768px) {
  input[type="search"] {
    display: block;
    border-radius: 0.5rem;
    border: 1px solid gray;
    padding: 10px;
    width: unset;
    order: unset;
    min-width: 300px;
  }
}