@import "../../helper/helper.scss";

section {
    max-width: unset;
}

.form-container {
    padding-block: 10px;

    .emailerrror {
        visibility: hidden;
    }

    .passworderror {
        display: none;
    }

    .forgotpass {
        margin-top: 10px;
        cursor: pointer;
        text-align: center;
    }
}