@import "../../helper/helper.scss";

section {
    max-width: unset;
}

.form-container {
    padding-block: 10px;
}

#email-errror {
    visibility: hidden;
}

#password-error {
    display: none;
}

#forgot-pass {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}