@charset "UTF-8";

:root {
  --flippy-blue: #047bd5;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

header {
  height: 80px;
  letter-spacing: 2px;
  display: flex;
  padding-inline: 20px;
  margin-inline: auto;
  width: 100%;
  max-width: 960px;
  color: var(--flippy-blue);
  align-items: center;
  justify-content: space-between;
}

header a {
  font-size: 18px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: var(--flippy-blue);
}

header #navbar-cart img:hover {
  filter: invert(60%) sepia(72%) saturate(3355%) hue-rotate(157deg) brightness(89%) contrast(101%);
}

section {
  margin-inline: auto;
  width: 100%;
  max-width: 960px;
}

section h1 {
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 20px;
}

#navbar-cart {
  position: relative;
  cursor: pointer;
}

#navbar-cart #cart-count {
  position: absolute;
  background-color: red;
  color: white;
  font-weight: bold;
  top: -15px;
  right: -15px;
  display: inline-block;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.cart-count {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cart-count div {
  width: 20%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border: none;
  color: black;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.cart-count .btnAdd,
.cart-count .btnSub {
  cursor: pointer;
  color: gray;
  padding: 14px;
  max-width: 50px;
  border: 1px solid #888888;
}

#flex-container {
  display: flex;
  margin: auto;
  max-width: 90%;
  flex-direction: column;
  gap: 20px;
}

#flex-container .item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#flex-container .item img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}

#flex-container .item .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#flex-container .item .content h5 {
  font-size: 18px;
  font-weight: 500;
}

#flex-container .item .content h2 {
  color: var(--flippy-blue);
  margin-block: 20px;
  letter-spacing: 1px;
  font-size: 22px;
}

#flex-container .item .content h2::before {
  content: "₹";
}

#flex-container .item .content h3 {
  margin-block: 20px 10px;
}

#flex-container .item .content h3 .cart-count {
  margin-top: 10px;
}

#flex-container .item .content h3 .cart-count .cross-btn {
  background: white;
  cursor: pointer;
  font-size: 15px;
  color: gray;
  margin-left: auto;
}

#flex-container .item .content h3 .cart-count .cross-btn:hover {
  color: red;
}

#flex-container .item .content h3::before {
  content: "Quantity : ";
}

#total-price {
  margin-block: 40px 20px;
  padding-inline: 20px;
}

#total-price h3 {
  padding-block: 20px;
}

#total-price h3:first-child {
  border-top: 1px dashed gray;
}

#total-price h3:nth-child(4) {
  border-top: 1px dashed gray;
}

#total-price h3:nth-child(4) span:nth-child(2):before {
  content: "₹ ";
}

#total-price button {
  background: var(--flippy-blue);
  padding: 10px;
  cursor: pointer;
  width: 200px;
  border: none;
  border-radius: 4px;
  color: white;
}

#total-price span {
  font-weight: 400;
  display: inline-block;
}

#total-price span:nth-child(1) {
  font-size: 14px;
  width: 60%;
}

#total-price span:nth-child(2) {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #flex-container .item {
    flex-direction: row;
    align-items: center;
  }

  #flex-container .item img {
    max-width: 200px;
  }

  #flex-container .item .content {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=cart.css.map */